.name{
    border: 1px solid red;
    border-radius: 12px;
    height: 500px;
    color: white;
}
img{
    height: 250px;
    width: 300px;
    border: 1px solid crimson;
    border-radius: 20px;
    transition: height 0.00001s;
    transition: width 0.00001s;
   
}
/* .krew:hover{
    width: 360px;
    height: 350px;
} */


.name{
    color: rgb(59,245,134);
}
h5{
    color: whitesmoke;
}
.btn10{
    background-color:crimson;
    padding: 7px;
    border-radius: 8px;
    color: whitesmoke;
    font-weight:bold;
    transition: width 3s;
}
.btn10:hover{
    background-color:yellow;
    color: black;
    width:100px ;
}
/* .name3{
    border-bottom: 3px  dotted crimson;
    border-radius: 20px;
} */


@keyframes borderAnimation {
    0%   { border-color:mediumspringgreen; }
    25%  { border-color: orangered; }
    50%  { border-color: green; }
    75%  { border-color: deeppink; }
    /* 100% { border-color: red; } */
  }
  
  .name {
    border: 3px solid red;
    animation: borderAnimation 4s infinite;
    border-radius: 30px;
  }