.ShopContainer{
    /* display: grid;
    grid-template-columns: 4fr 1fr; */
    margin-top: 5px;
    background-color:  rgb(31,29,43);
   
    

}
.productContainer{
    display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 10px;


}
.cartContainer{
    height: 400px;
   
}


