.footer{
    background-color: rgb(31,29,43);
    height: 420px;
  padding-top: 4px;
  border-top: 3px solid white;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
}
.div100 p{
  color: white;
  margin-left: 10px;
  
}
.div101{
  color: rgb(59,245,134);
  width: 50%;
  margin-left: 50px;
}
.legal{
  color:white;
  /* background-color: deepskyblue; */
  border-radius: 20px;
}
.fot1{
  display: flex;
  
 
}
/* .fot1{
    
    border: 2px solid red;
} */